### 1.	Given a list of integers, remove all occurrences of a specific value using a list method.

In [1]:
lst = [1, 2, 3, 4, 3, 5, 3, 6]

In [2]:
lst

[1, 2, 3, 4, 3, 5, 3, 6]

In [6]:
lst.remove(3)

In [7]:
lst

[1, 2, 4, 3, 3, 6]

### 2.	Concatenate a list of strings into a single string, with each element separated by a space, using a list method.

In [8]:
lst = ["Hello", "world", "this", "is", "Python"]
" ".join(lst)

'Hello world this is Python'

### 3.	Reverse a list of integers using a built-in list method.

In [13]:
# create the list
lst=[3,4,5,6,7,23,456,67,8,78,78]

In [14]:
lst

[3, 4, 5, 6, 7, 23, 456, 67, 8, 78, 78]

In [15]:
lst.reverse()
lst

[78, 78, 8, 67, 456, 23, 7, 6, 5, 4, 3]

### 4.	Sort a list of numbers in descending order using a built-in list method.

In [16]:
lst

[78, 78, 8, 67, 456, 23, 7, 6, 5, 4, 3]

In [17]:
lst.sort(reverse=True)

In [18]:
lst

[456, 78, 78, 67, 23, 8, 7, 6, 5, 4, 3]

### 5.	Given two lists, combine them into a single list and remove any duplicate elements using a list method.

In [19]:
lst1 = [1, 2, 3, 4]
lst2 = [3, 4, 5, 6]

In [20]:
lst3=lst1+lst2

In [22]:
lst3

[1, 2, 3, 4, 3, 4, 5, 6]

### 6.	Convert a tuple of integers into a list and remove the first and last elements using a tuple method.

In [26]:
tup = (10, 20, 30, 40, 50, 90, 80)
lst = list(tup)
lst = lst[1:-1]

In [27]:
lst

[20, 30, 40, 50, 90]

### 7.	Given a list of tuples, extract all the first elements of each tuple into a separate list using tuple unpacking

In [30]:
ds=[(1, 'sursj'), (2, 'naman'),
        (3, 'shyam'), (4, 'ujjwal'),
        (5, 'anuj')]

In [31]:
ds

[(1, 'sursj'), (2, 'naman'), (3, 'shyam'), (4, 'ujjwal'), (5, 'anuj')]

In [32]:
for i in ds:
    print(i[0])

1
2
3
4
5

### 8.	Combine two tuples into a single tuple.

In [33]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = t1+t2

In [34]:
t3

(1, 2, 3, 4, 5, 6)

### 9.	Find the maximum and minimum values in a tuple of numbers using tuple methods.

In [37]:
m = (10, 20, 5, 30, 15, 23, 45, 65, 98)

In [39]:
m

(10, 20, 5, 30, 15, 23, 45, 65, 98)

In [45]:
#Find the maximum value
ds= max(m)
ds

98

In [46]:
# Find the minimum value
ds=min(m)
ds

5

### 10.	Convert a tuple of strings into a single string, with each element separated by a comma, using tuple methods.

In [47]:
tuple = ("apple", "banana", "cherry", "date")

In [54]:
str=", ".join(tuple)

In [55]:
str

'apple, banana, cherry, date'

### 11.	Given two sets, return the union of the two sets using a set operation.

In [56]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
ds=set1.union(set2)

In [57]:
ds

{1, 2, 3, 4, 5, 6}

### 12.	Find the intersection of two sets using a set method.

In [58]:
ds1=set1.intersection(set2)
ds1

{3, 4}

### 13.	Remove all elements from one set that are also present in another set using a set method.

In [59]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}

In [60]:
set1.difference_update(set2)

In [61]:
set1

{1, 2}

In [63]:
set2.difference_update(set1)

In [64]:
set2

{3, 4, 5, 6}

###  14.	Find the difference between two sets using a set method.

In [65]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
ds = set1.difference(set2)
ds

{1, 2}

### 15.	Convert a list of integers into a set and then back to a list to remove duplicates, using set operations

In [69]:
lst = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(lst)
ds= list(unique_set)
ds

[1, 2, 3, 4, 5]

### 16.	Merge two dictionaries into a single dictionary using a dictionary method.

In [72]:
ict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

# Merge dict2 into dict1
dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 3, 'c': 4}

###  17.	Extract all values from a dictionary into a list using a dictionary method.

In [71]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Extract all values into a list
values_list = list(my_dict.values())

print(values_list)

[1, 2, 3]